In [2]:
import numpy as np
import pandas as pd

# 설정
pd.set_option('display.precision', 3)

df = pd.read_csv('./data/student_scores_em.csv')

# 영어성적만 추출
scores = df['english'][:10]

scores_df = pd.DataFrame(scores)

scores_df

   english
0       42
1       69
2       56
3       41
4       57
5       48
6       65
7       49
8       65
9       58

In [5]:
pd.Series([1,1,1,2,2,3]).mode()

0    1
dtype: int64

In [ ]:
scores

# 이 scores(학생 10명의 영어성적)에 대한 편차(deciation)를 구해보아요!

deviation = scores - np.mean(scores)

# deviation 편차를 이용해서 각 데이터에 대한 흩어짐 정도를 알 수 있어요
# 하지만 값이 여러개에요 대푯값을 이용해야 deviation을 조금 더 잘 요약, 표현할 수 있을거 같아요!

0   -13.0
1    14.0
2     1.0
3   -14.0
4     2.0
5    -7.0
6    10.0
7    -6.0
8    10.0
9     3.0
Name: english, dtype: float64

In [ ]:
# 영어 성적의 분산을 구해보세요!
# 영어 성적의 deviation(편차)를 구해서 편차의 제곱의 평균을 구하면 분산!

np.mean((scores - np.mean(scores)) ** 2) # 86

# Numpy가 분산을 쉽겍 구하라고 함수를 제공 => var() 함수 제공
np.var(scores) # 86.0

# Pandas도 DataFrame에 대해서 분산을 쉽게 구하락고 함수를 제공 -> var()
scores_df.var(ddof=1) # 95.556 => 불편분산
# ddof => delta degree of freedom
# ddof = 0이면 n을 사용해서 분산을 계산
# ddof = 1이면 n-1을 사용해서 분산을 계산

# Numpy를 이용한 분산함수(np.var())와 DataFrame이 가지고 있느 분산함수
# (df.var())는 동작하는 방식이 달라요

# 분산의 종류가 달라서 
# 1. 표본 분산 -> 우리가 얘기하는 분산 (numpy가 제공하는 var())
# 2. 불편 분산 -> pandas의 var() 분산함수는 이 불편 분산으로 계산해요!

# 추리통제는 모집단(전체집합 - 우리나라의 모든 사람)의 parameter(모수 - 모평균, 모분산)를 표본(sample)을
# 이용해서 초리하라는 통계를 지칭
# 애 때 표본을 이용해서, 표준평균, 표준분산 등 계산 가능
# # parapmeter(모수)를 추정하는 작업이 추리통계

english    95.556
dtype: float64

In [22]:
# score에 대해서 표준편차를 구해 보아요

np.sqrt(np.var(scores))
# 위에 처럼 구하면 되는데, 많이 사용하다보니
np.std(scores) # 9.273618495495704
scores.mean() # 55.0

np.float64(55.0)

In [25]:
# 산포도 지표
# Range
print(np.max(scores) - np.min(scores)) # 28

# IQR value
Q3 = np.percentile(scores, 75) # 3사분위값
Q1 = np.percentile(scores, 25) # 1사분위값
print(Q3 - Q1) # 15.0

28
15.0

In [ ]:
# 왜도 (Skeness) : 데이터가 평균을 중심으로 대칭인지 확인

import numpy as np
from scipy import stats

print(stats.skew(scores)) # -0.09
print(stats.kurtosis(scores)) # -1.2532720389399676

-0.09027860082148333
-1.2532720389399676

In [31]:
# 영어 성적에 대해서 Z-score값
50 + 10 * ((scores - np.mean(scores)) / np.std(scores))

0    35.982
1    65.097
2    51.078
3    34.903
4    52.157
5    42.452
6    60.783
7    43.530
8    60.783
9    53.235
Name: english, dtype: float64